<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studydemo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.min_aspect"
            android:value="1.0" />

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|smallestScreenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CoordinatorActivity"
            android:configChanges="screenSize|orientation|smallestScreenSize" />
        <activity android:name=".activity.LottieActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".activity.CameraPreviewActivity" />
        <activity android:name=".activity.LeakTestActivity" />
        <activity android:name=".activity.ScreenShotActivity" />
        <activity android:name=".activity.CameraPreviewLowerActivity" />
        <activity android:name=".activity.CountDownTimerActivity" />
        <activity android:name=".activity.CameraViewActivity" />
        <activity android:name=".activity.ScrollViewActivity" />
        <activity android:name=".activity.launchmode.LaunchActivityA" />
        <activity
            android:name=".activity.launchmode.LaunchActivityB"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.launchmode.LaunchActivityC"
            android:launchMode="singleTask" />
        <activity android:name=".activity.fragment.MyFragmentActivity" />
        <activity android:name=".activity.RemoveActivity" />
        <activity
            android:name=".activity.DialogActivity"
            android:configChanges="screenSize|orientation|smallestScreenSize|keyboardHidden" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TranslationTestActivity"
            android:configChanges="screenSize|orientation|smallestScreenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activity.VideoCompressActivity" />
    </application>

</manifest>